@font-face {
    font-family: 'Calculator';
    src: URL('./Digital7-1e1Z.ttf') format('truetype');
  }

* {
    font-size: 48px;
    font-family: 'Calculator';
}

.calculator {
    background-color: rgb(242, 242, 242);
    border: 3px solid black;
    border-radius: 10px;
    width: 330px;
    margin: auto;
}

.screen {
    background-color: rgb(203, 203, 203);
    border: 2px solid black;
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    min-height: 44px;
    text-align: right;
}

.buttons {
    margin: 16px 16px 8px 16px;
}

.btn {
    background-color: rgb(203, 203, 203);
    border: 2px solid black;
    border-radius: 5px;
    padding: 16px;
    min-width: 24px;
    text-align: center;
    margin-bottom: 8px;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(203, 203, 203);
    transform: scale(1.08);
    border: 2px solid black;
}

.row {
    display: flex;
    justify-content: space-between;
}