@font-face {
    font-family: 'Calculator';
    src: URL('./Digital7-1e1Z.ttf') format('truetype');
  }

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

* {
    font-size: 48px;
    font-family: 'Calculator';
}

.calculator {
    background-color: rgb(242, 242, 242);
    border: 3px solid black;
    border-radius: 10px;
    width: 330px;
    margin: auto;
}

.screen {
    background-color: rgb(203, 203, 203);
    border: 2px solid black;
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    min-height: 44px;
    text-align: right;
}

.buttons {
    margin: 16px 16px 8px 16px;
}

.btn {
    background-color: rgb(203, 203, 203);
    border: 2px solid black;
    border-radius: 5px;
    padding: 16px;
    min-width: 24px;
    text-align: center;
    margin-bottom: 8px;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(203, 203, 203);
    transform: scale(1.08);
    border: 2px solid black;
    
}

.btn.error {
    background-color: rgb(255, 111, 111);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.row {
    display: flex;
    justify-content: space-between;
}